<h2 class="po-index-heading mb-4">All Purchase Orders!</h2>

<table>
    <tr>
        <th>P.O. Number</th>
        <th>BIN</th>
        <th>Start Date</th>
        <th>Exit Date</th>
        <% @purchase_orders.each do |po| %>
    </tr>
        <td><%= button_to po.po, purchase_order_path(po), method: "get" %></td>
        <td><%= po.bin %></td>
        <td><%= po.start_date %></td>
        <td><%= po.completion_date %></td>
    </tr>
        <% end %>
</table>

