<% if model.errors.any? %>
  <div class="error_messages">
    <%= pluralize(model.errors.count, "error") %>, update failed!<br>
      <% model.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
  </div>
<% end %>